{% extends "layout.html" %}
{% block body %}

  <div class="container">
    <h1>This Machine Kills Fascists</h1>

    <div class="row">
      <div class="col-sm-6">
        <ul class="list-group checkbox-group">
          <li class="checkbox list-group-item lstick checkbox-beat" data-value="1">Left Drum Beat</li>
          <li class="checkbox list-group-item rstick checkbox-beat" data-value="2">Right Drum Beat</li>
          <li class="checkbox list-group-item ltamb checkbox-beat" data-value="3">Left Tamborine</li>
          <li class="checkbox list-group-item rtamb checkbox-beat" data-value="4">Right Tamborine</li>
          <input type="text" id="checkbox-value" name="onebeat" hidden/>
        </ul>
        
        <span id="result">?</span>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-6">

        <div class="checkbox-group col-sm-3 beat" id="0">
          <div class="checkbox lstick" data-value="0"></div>
          <div class="checkbox rstick" data-value="1"></div>
          <div class="checkbox ltamb" data-value="2"></div>
          <div class="checkbox rtamb" data-value="3"></div>
          <br/>
          <input type="text" id="checkbox-value-0" name="checkbox-value-0" hidden/>
        </div>
        
        <div class="checkbox-group col-sm-3 beat" id="1">
          <div class="checkbox lstick" data-value="0"></div>
          <div class="checkbox rstick" data-value="1"></div>
          <div class="checkbox ltamb" data-value="2"></div>
          <div class="checkbox rtamb" data-value="3"></div>
          <br/>
          <input type="text" id="checkbox-value-1" name="checkbox-value-1" hidden/>
        </div>
        
        <div class="checkbox-group col-sm-3 beat" id="2">
          <div class="checkbox lstick" data-value="0"></div>
          <div class="checkbox rstick" data-value="1"></div>
          <div class="checkbox ltamb" data-value="2"></div>
          <div class="checkbox rtamb" data-value="3"></div>
          <br/>
          <input type="text" id="checkbox-value-2" name="checkbox-value-2" hidden/>
        </div>
        
        <div class="checkbox-group col-sm-3 beat" id="3">
          <div class="checkbox lstick" data-value="0"></div>
          <div class="checkbox rstick" data-value="1"></div>
          <div class="checkbox ltamb" data-value="2"></div>
          <div class="checkbox rtamb" data-value="3"></div>
          <br/>
          <input type="text" id="checkbox-value-3" name="checkbox-value-3" hidden/>
        </div>

      </div>

      <div class="col-sm-6">
      
        <div class="checkbox-group col-sm-3 beat" id="4">
          <div class="checkbox lstick" data-value="0"></div>
          <div class="checkbox rstick" data-value="1"></div>
          <div class="checkbox ltamb" data-value="2"></div>
          <div class="checkbox rtamb" data-value="3"></div>
          <br/>
          <input type="text" id="checkbox-value-4" name="checkbox-value-4" hidden/>
        </div>
        
        <div class="checkbox-group col-sm-3 beat" id="5">
          <div class="checkbox lstick" data-value="0"></div>
          <div class="checkbox rstick" data-value="1"></div>
          <div class="checkbox ltamb" data-value="2"></div>
          <div class="checkbox rtamb" data-value="3"></div>
          <br/>
          <input type="text" id="checkbox-value-5" name="checkbox-value-5" hidden/>
        </div>
        
        <div class="checkbox-group col-sm-3 beat" id="6">
          <div class="checkbox lstick" data-value="0"></div>
          <div class="checkbox rstick" data-value="1"></div>
          <div class="checkbox ltamb" data-value="2"></div>
          <div class="checkbox rtamb" data-value="3"></div>
          <br/>
          <input type="text" id="checkbox-value-6" name="checkbox-value-6" hidden/>
        </div>
        
        <div class="checkbox-group col-sm-3 beat" id="7">
          <div class="checkbox lstick" data-value="0"></div>
          <div class="checkbox rstick" data-value="1"></div>
          <div class="checkbox ltamb" data-value="2"></div>
          <div class="checkbox rtamb" data-value="3"></div>
          <br/>
          <input type="text" id="checkbox-value-7" name="checkbox-value-7" hidden/>
        </div>


        <!-- <span id="rhythm_pattern">?</span> -->
        <br/>
        <label for="name">Name: </label><input type="text" id="name" name="name" />
        <label for="loop">Loop: </label><input type="text" id="loop" name="loop" />
        <a class="btn" href="#" id="playrhythm">Play Rhythm</a>

      </div>

    </div>

  </div>

  <script type="text/javascript">

    var rhythm_array = [];

    for (i=0; i<8; i++) {
        rhythm_array[i] = [0, 0, 0, 0];
    }

    console.log(rhythm_array);

    $('.checkbox-group .checkbox').click(function(){
        var row = $(this).parent().attr('id');
        var col = $(this).attr('data-value');
        if ($(this).hasClass("selected")) {
          $(this).removeClass('selected');
          rhythm_array[row][col] = 0;
        } else {
          $(this).addClass('selected');
          rhythm_array[row][col] = 1;
        }
        var id = $(this).parent().find('input').attr('id')
        $("#" + id).val(rhythm_array[row]);
    });


    $(function() {
      var submit_beat = function(e) {
        $.getJSON($SCRIPT_ROOT + '/one_beat', {
          a: $('input[name=onebeat]').val()
        }, function(data) {
          $('#result').text(data.result);
          $('input[name=onebeat]').focus().select();
        });
        return false;
      };
      $('li.checkbox-beat').bind('click', submit_beat);
      $('input[type=text]').bind('keydown', function(e) {
        if (e.keyCode == 13) {
          submit_beat(e);
        }
      });
      $('input[name=onebeat]').focus();
    });


    $(function() {
    var submit_rhythm = function(e) {
      $.getJSON($SCRIPT_ROOT + '/rhythm', {
        0: $('input[name=checkbox-value-0]').val(),
        1: $('input[name=checkbox-value-1]').val(),
        2: $('input[name=checkbox-value-2]').val(),
        3: $('input[name=checkbox-value-3]').val(),
        4: $('input[name=checkbox-value-4]').val(),
        5: $('input[name=checkbox-value-5]').val(),
        6: $('input[name=checkbox-value-6]').val(),
        7: $('input[name=checkbox-value-7]').val(),
        tempo: 120,
        strike: 6,
        name: $('input[name=name]').val(),
        loop: $('input[name=loop]').val()
      }, function(data) {
        console.log(data.result)
        $('#rhythm_pattern').text(data.result);
      });
      return false;
    };
    $('a#playrhythm').bind('click', submit_rhythm);
    $('input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_rhythm(e);
      }
    });
  });

  </script>

{% endblock %}
